*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.bienvenida {
  color: ghostwhite;
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 4em;
  background-image: url("../../imagenes/fondoBienvenida2.jpg");
  width:100%;
}

.bienvenida:hover {
  color: ghostwhite;
}

.perfil{
  color: orange;
}

.pefil:hover {
  color:orange;
}

.perfil-avatar {
  width:50%;
}

  #cartel {
    width:36%;
  }


/*estilo exito.php*/

.avatar2 {
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50%;
}


/* EFECTOS NAVBAR */
.botonreg{
  margin: 2px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;
}


h1 {
  font-size: 4.5em;
  font-family: 'Orbitron', sans-serif;
  color:burlywood;
  width:40%;
  text-shadow: 0 0 30px #ffb;
  text-decoration: none;
}

nav {
  display: inline-block;
  margin: auto;
  padding: 0;
  background-color: Red;
}

li {
  list-style: none;
}

li a{
  color: orange;
  display: block;
  padding: 0 2.5em;
  transition: 0.4s;
}

.nav-link:hover {
  background-color: #717d7e;
}


.dropdown-menu {
  background-color: #343a40;
  margin:0;
  padding:0;
  font-weight: bolder;
  top:100%;
}

.dropdown-menu a:hover {
  background-color: rgb(113,125,126);
  color:#343a40;
}

.dropdown-item {
  text-align: center;
}

#navbarTogglerDemo01{
  text-align: center;
}

.form-inline {
  text-align: center;
}

.container-fluid{
  padding-left:  0px;
  padding-right: 0px;
  padding-top: 0px;
}

.carrito {
  margin: auto;
  padding: auto;

}

.header{

  list-style-type: none;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  background-color: #717d7e;

}


.logo{

  border-radius: 50%;

}

.header li a{

  color: orange;

}

.NISA {
  text-decoration: none;
  color:orange;
}

.NISA:hover {
  text-decoration: none;
  color:orange;
}

body {
  background-color: #343a40;

}

footer {
  padding-left: 50px;
  padding-right: 60px;
  font-size: 0.7em;
  color: orange;
  background-color: black;


}

.container{
 padding-top: 2px;
}

.boton {
  margin-right: -3%;
}

.btn{
  text-align: left;
}


.registro {
  border: solid 2px;
  padding: 1%;
  font-size: 1em;
  color: red;
 font-family: 'Orbitron', sans-serif;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-top: 10px;
  list-style-type: none;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;

}

.row ul li{
  color: orange;
  list-style-type: none;
  font-size: 15px;
  text-align: center;
}

.pie p{
  text-align: center;
  font-size: 15px;
}

h5{
  text-align: center;
  font-size: 20px;
  background-color: black;
  color: red;
  padding: 10px;
}

/* estilo barra png's creditcard/delivery/location/ok */

#relativo {
  position: relative;

}

#enlace {
position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 10;
 transition: color 0.8s linear 0.2s;
}

.barra {
  background-color: white;
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
  margin-bottom: 2%;

}

.row-barra {
  margin-top: 0.5%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

}



.texto1 {
  font-size: 1em;
  font-weight: bold;
  font-family: arial;
  margin: auto;
  margin-top: auto;
  margin-top: 3%;

}


.texto2 {
  font-size: 0.9em;
  font-family: sans-serif;
  font-weight: lighter;

}

.creditcard {
  width: 70%;
  margin-left: 22%;

}

.delivery {
  width: 77%;
  margin-left: 22%;

}

.location {
width: 84%;
margin-left: 26%;
border-radius: 100%;

}

.ok {
  width: 100%;
  margin-left: 20%;
  margin-top: -12%;

}

/*estilo contenedor promociones*/

.caja1{
  width: 74%;
  margin: auto;
  height: auto;
  background-color: white;
  border: solid 0.5em #b4b0b0;
  border-style:groove;
  display:flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

.contenedor0 {
 width:100%;

}

/* esto lo cambie porque en chrome se mostraba negro
el #b4b0b0 solía ser black */

.imagen1 {
  width:100%;
}

.imagen2 {
  width:100%;

}

.imagen3 {
  width:100%;

}

.imagen4 {
  width:100%;
}

.imagen5 {
  width: 100%;

}

.imagen6 {
  width:97%;

}

.contenedor1 {
 width: 33.33%;
 height: auto;
 border: solid 0.4em #b4b0b0;
 border-style:groove;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 align-items: center;
 box-sizing:  border-box;
}

.contenedor2 {
  width: 33.33%;
  height: auto;
  border: solid 0.4em #b4b0b0;
  border-style:groove;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.contenedor3 {
  width: 33.33%;
  height: auto;
  border: solid 0.4em #b4b0b0;
  border-style:groove;
  display: flex;
 flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.contenedor4 {
 width: 33.33%;
 height: auto;
 border: solid 0.4em #b4b0b0;
 border-style:groove;
 display: flex;
flex-wrap: wrap;
 flex-direction: column;
 align-items: center;
}

.contenedor5 {
  width: 33.33%;
  height: auto;
  border: solid 0.4em #b4b0b0;
  border-style:groove;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.contenedor6 {
  width: 33.33%;
  height: auto;
  border: solid 0.4em #b4b0b0;
  border-style:groove;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

}

h3 {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 4em;
  background: linear-gradient(to left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 29%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
}

h3:hover {
  color:orange;
}

.texto3 {
  text-align: center;
  font-family: 'orbitron';
  font-size: 17px;
  font-weight: bold;
  color: red;
  margin: auto;
}

.texto4 {
  text-align: center;
  font-family: 'orbitron';
  font-size: 17px;
  font-weight: bold;
  color: #424d58;
  margin: auto;
}

.carrito2 {
  width:5%;
  width: 28%;
  padding-right: 10%;
}

/* ESTILO PAGINA CONSOLAS */

h2 {
  font-size: 4em;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0 0 30px #fff;
  color:ghostwhite;
  text-align: center;
}

#tabla {
  width: 80%;
  height: auto;
  background-color: white;
  margin-top: 2%;
  border: solid 0.2em black;
  border-style: solid green;
  box-shadow: 10px -3px 20px 5px white;
  display:flex;
  flex-wrap: wrap;

}

.rectangulo0 {
  width:10%;
  height: 500px;
  background-color: grey;
  border: solid 2px black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.rectangulo1 {
  width:26%;
  height: 500px;
  background-color: white ;
  border: solid 2px black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.rectangulo2 {
  width:54%;
  height: 500px;
  background-color: white ;
  border: solid 2px black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: inherit;

}


.consolas {
font-family: 'Fascinate Inline', cursive;
font-size: 4em;
color: orange;
writing-mode: vertical-lr;
text-align: center;
}

.card1 {
  width:33.33%;
  height:250px;
  border: solid 2px black;
}


.wii_imagenes {
  width:100%;
  height: auto;

}

.wii_imagenes2 {
  width:100%;
  height: 200px;
}

.texto5 {
  text-align: center;
  font-family: 'orbitron';
  font-size: 14px;
  font-weight: bold;
  color: red;
}


.texto6 {
  text-align: center;
  font-family: 'orbitron';
  font-size: 20px;
  font-weight: bold;
  color: #21618c ;
}

/* Estilo equipos.php */

.equipos {
  font-family: 'Fascinate Inline', cursive;
  font-size: 2.5em;
  color: firebrick;
  writing-mode: vertical-lr;
  text-align: center;
  margin: 0 auto;
}

.equipos_gamer {
  font-family: 'Fascinate Inline', cursive;
  font-size: 3.5em;
  color: firebrick;
  writing-mode: vertical-lr;
  text-align: center;
  margin: 0 auto;
}



.rectangulo3 {
  width:13%;
  height: auto;
  background-color: grey;
  border: solid 2px black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.rectangulo_contenedor {
  width:87%;
  background-color: grey;
  border: solid 2px black;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}



.rectangulo4 {
  width:33.33%;
  height: auto;
  background-color: white ;
  border: solid 2px black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.rectangulo4_sub {
  width:33.33%;
  height: auto;
  background-color: white ;
  border: solid 2px black;
}

.texto7 {
  text-align: center;
  font-family: 'orbitron';
  font-size: 13.5px;
  font-weight: bold;
  color: initial;
}

.pc_hogar_imagenes {
  width:100%;
  height: auto;

}

.pc_gamer_imagenes {
  width:100%;
  height: auto;
}

#tabla_2 {
  width: 80%;
  height: auto;
  background-color: white;
  border: solid 0.1em black;
  border-style: solid green;
  box-shadow: 10px -3px 20px 5px royalblue;
  display:flex;
  flex-wrap: wrap;

}

.rectangulo5 {
    width:13%;
    height: auto;
    background-color: grey;
    border: solid 2px black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.rectangulo6 {
  width:87%;
  height: auto;
  background-color: grey;
  border: solid 2px black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}


  @media (max-width:576px) {

    .bienvenida {
      font-size: 1.5em;
      margin: auto;
    }

    #cartel {
      width: 70%;
      font-size: 14px;
    }


/* estilo nav */

  .boton {
    margin-left: -10%;
  }

  .carrito{
    width: 50px;
    height: 50px;
    margin: 0;
  }

    /* estilo imagen carousel*/

    .carouselimg{
      display: none;
    }


    /* estilo consolas.php */


   h1 {
     font-size: 0;
   }

   .logo {
     width: 70%;
     margin: auto;
   }


    h2 {
      font-size: 2em;
    }

    .rectangulo0 {
      width:26%;
    }

    .rectangulo1 {
      width:74%
    }

    .rectangulo2 {
      width:74%;
      overflow: scroll;
    }

    .card1 {
      width:100%;

    }

    .texto5 {
      font-size: 0.83em;
    }

    .consolas {
      font-size: 2.2em;
    }


    /* estilo barra png's creditcard/delivery/location/ok */

  .creditcard {
    width: 36%;
    display: block;
    margin: auto;
    padding-top: 2%;
  }

  .delivery {
    width: 36%;
    display: block;
    margin: auto;
  }

  .location {
    width: 36%;
    display: block;
    margin: auto;
  }

  .ok {
    width: 38%;
    display: block;
    margin: auto;
  }

  .texto1 {
    width: auto;
    font-size: 23px;
    text-align: center;
  }


  .texto2 {
    width: auto;
    font-size: 18px;
    text-align: center;
  }

  /*estilo contenedor promociones*/

  h3 {
    font-size: 2em;
  }

  .contenedor1 {
    width: 100%;
  }

  .contenedor2 {
    width:100%;
  }

  .contenedor3 {
    width: 100%;
  }

  .contenedor4 {
    width:100%;
  }

  .contenedor5 {
    width: 100%;
  }

  .contenedor6 {
    width:100%;
  }

  /* Estilos equipos.php */


  .rectangulo3 {
    width: 25%;
    height: auto;
  }

  .rectangulo_contenedor {
    width: 75%;
    height: auto;
  }

  .rectangulo4 {
    width:100%;
    height: auto;
  }

  .rectangulo5 {
    width:25%;
    height: 1833px;
  }

  .rectangulo6 {
    width:75%;
    height: 1833px;
    overflow: scroll;
  }

  .rectangulo4_sub {
    width: 100%;
    height: auto;
  }

}

  @media (min-width:576px) and (max-width:860px) {

    #cartel {
        width: 68%;
    }

  /* estilo nav */

    h1 {
      font-size: 0;
    }

    .logo {
      width: 70%;
      margin: auto;
    }

    .carrito{
      width: 50px;
      height: 50px;
      margin: 0;
    }

/* estilo consolas.php */

.consolas {
  font-size: 2.8em;
}

.rectangulo0 {
  width:16%;
}

.rectangulo1 {
  width:34%
}

.rectangulo2 {
  width:34%;
  overflow: scroll;
}

.card1 {
  width:100%;

}

.texto5 {
  font-size: 0.8em;
}




/* estilo barra png's creditcard/delivery/location/ok */

    .row-barra {
      margin-top: 0.5%;
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;

    }

    .creditcard {
      width: 45%;
      padding-top: 2%;
      display: block;
      margin: auto;
    }

    .delivery {
      width: 45%;
      padding-top: 2%;
      display: block;
      margin: auto;
    }

    .location {
      width: 45%;
      display: block;
      margin: auto;

    }

    .ok {
      width: 70%;
      display: block;
      margin-left:16%;
    }

    .texto1 {
      width: auto;
      font-size: 1em;
    }


    .texto2 {
      width: auto;
      font-size: 14px;
    }

    /*estilo contenedor promociones*/

    .contenedor1 {
      width: 50%;
    }

    .contenedor2 {
      width:50%;
    }

    .contenedor3 {
      width: 50%;
    }

    .contenedor4 {
      width:50%;
    }

    .contenedor5 {
      width: 50%;
    }

    .contenedor6 {
      width:50%;

    }

    /* Estilo equipos.php */

    .rectangulo3 {
      width:20%;
    }

    .rectangulo_contenedor {
      width: 80%;
    }

    .rectangulo4 {
      width:100%;
    }

    .equipos {
      font-size: 4.5em;
    }

    .rectangulo5 {
      width:20%;
      height: auto;
    }

    .rectangulo6 {
      width:80%;
      height: auto;
    }

    .rectangulo4_sub {
      width: 50%;
      height: auto;
    }

/*estilo preguntas frecuentes*/
